body {
    margin: 0;
    padding: 0;
}


/* 导航栏 */
.header {
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    min-width: 1200px;
    height: 81px;
    position: fixed;
    /*float: left;*/
    border-bottom: 1px solid #f0f0f0;
    background-color: #ffffff;
    z-index: 999;
}

.header-placeholder {
    width: 100%;
    height: 81px;
    position: relative;
}

/* logo */
.header .logo {
    width: 133px;
    height: 80px;
    float: left;
    position: relative;
    background: url("../img/logo/logo-red.png") no-repeat center;
}

.header .city-container {
    width: 70px;
    height: 100%;
    margin: 0 8px;
    float: left;
    position: relative;
}

.city-container .city-select {
    height: 100%;
    padding: 0 8px;

    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.city-container .city-name {
    margin-top: 30px;
    display: inline-block;
    color: #333;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed #666;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.header .nav {
    display: inline-block;
    margin-left: 40px;
    height: 100%;
    float: left;
}

.nav .nav-bar {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    float: left;
    list-style: none;
    display: inline-block;
}

.nav-bar li a {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
    color: #333;
    display: inline-block;
    text-decoration: none;
}

.nav-bar li a.active {
    color: #fff;
    background-color: #ef4238;
}

.header .user-info {
    float: right;
    height: 100%;
    position: relative;
    z-index: 9999;
}

.user-info .user-avatar {
    width: 78px;
    height: 100%;
    padding: 0 10px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: none;
    background-color: #ffffff;
}

.user-info .user-avatar:hover {
    border-color: #f0f0f0;
}

.user-info .user-avatar img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
}

.user-info .user-avatar .caret {
    top: 39px;
    right: 12px;
    position: absolute;
}


.user-avatar .user-menu {
    right: 0;
    top: 81px;
    width: 114px;
    position: absolute;

    color: #333;
    line-height: 44px;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.query-form {
    float: right;
    position: relative;
    margin-top: 20px;
    border: none;
    list-style: none;
}

.query-form input:nth-child(1) {
    width: 260px;
    height: 40px;
    padding-left: 20px;
    padding-right: 40px;
    background-color: #faf8fa;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 14px;
    color: #333;
    outline: medium;
}

.query-form input:nth-child(2) {
    right: 0px;
    top: 0;
    width: 40px;
    height: 40px;

    display: inline-block;
    border-radius: 30px;
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;
    background: #ef4238 url("../img/logo/search.png");
    font: inherit
}


.download {
    width: 100px;
    height: 80px;
    float: right;
    position: relative;
    margin-right: 10px;
}


.download a {
    top: 28px;
    width: 100%;
    height: 24px;
    float: left;
    position: relative;
}

.download .down-icon {
    width: 15px;
    height: 24px;

    float: left;
    position: relative;
    background: url("../img/logo/down-app.png");
}

.download .down-text {
    height: 24px;
    float: left;
    position: relative;
    margin-left: 5px;
    color: #000;
}

.download .caret {
    float: left;
    position: relative;
    margin-left: 5px;
    margin-top: 10px;
}

/* Banner 广告 */
.banner {
    /*top: 81px;*/
    width: 100%;
    min-width: 1200px;
    height: 440px;
    float: left;
    position: relative;
}

.img-container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
}

.img-container:nth-child(1) {
    opacity: 1;
    background: url("../img/banner1.jpg") center no-repeat;
}

.img-container:nth-child(2) {
    opacity: 0;
    background: url("../img/banner2.jpg") center no-repeat;
}

.banner .controller {
    bottom: 20px;
    width: 100px;
    height: 25px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.controller .con {
    left: 35px;
    width: 10px;
    height: 10px;
    position: relative;
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.controller .con.active {
    background-color: #ef4238;
}

/* Container 主体内容 */


/* 页脚 */
.footer {
    width: 100%;
    min-width: 1200px;
    margin: 82px 0 0 0;
    padding: 56px 0;
    background-color: #262426;
    float: left;
    position: relative;
}

.footer p {
    color: #666;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
}

.footer p a {
    text-decoration: none;
    color: #666;
}

.footer p:nth-child(1) a {
    color: #ef4238;
}

