body {
    margin: 0;
    padding: 0;
}


/* 导航栏 */
.header {
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    min-width: 1200px;
    height: 81px;
    position: fixed;
    /*float: left;*/
    border-bottom: 1px solid #f0f0f0;
    background-color: #ffffff;
    z-index: 999;
}

.header-placeholder {
    width: 100%;
    height: 81px;
    position: relative;
}

/* logo */
.header .logo {
    width: 133px;
    height: 80px;
    float: left;
    position: relative;
    background: url("../img/logo/logo-red.png") no-repeat center;
}

.header .city-container {
    width: 70px;
    height: 100%;
    margin: 0 8px;
    float: left;
    position: relative;
}

.city-container .city-select {
    height: 100%;
    padding: 0 8px;

    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.city-container .city-name {
    margin-top: 30px;
    display: inline-block;
    color: #333;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed #666;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.header .nav {
    display: inline-block;
    margin-left: 40px;
    height: 100%;
    float: left;
}

.nav .nav-bar {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    float: left;
    list-style: none;
    display: inline-block;
}

.nav-bar li a {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
    color: #333;
    display: inline-block;
    text-decoration: none;
}

.nav-bar li a.active {
    color: #fff;
    background-color: #ef4238;
}

.header .user-info {
    float: right;
    height: 100%;
    position: relative;
    z-index: 9999;
}

.user-info .user-avatar {
    width: 78px;
    height: 100%;
    padding: 0 10px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: none;
    background-color: #ffffff;
}

.user-info .user-avatar:hover {
    border-color: #f0f0f0;
}

.user-info .user-avatar img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
}

.user-info .user-avatar .caret {
    top: 39px;
    right: 12px;
    position: absolute;
}


.user-avatar .user-menu {
    right: 0;
    top: 81px;
    width: 114px;
    position: absolute;

    color: #333;
    line-height: 44px;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.query-form {
    float: right;
    position: relative;
    margin-top: 20px;
    border: none;
    list-style: none;
}

.query-form input:nth-child(1) {
    width: 260px;
    height: 40px;
    padding-left: 20px;
    padding-right: 40px;
    background-color: #faf8fa;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 14px;
    color: #333;
    outline: medium;
}

.query-form input:nth-child(2) {
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;

    display: inline-block;
    border-radius: 30px;
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;
    background: #ef4238 url("../img/logo/search.png");
    font: inherit
}


.download {
    width: 100px;
    height: 80px;
    float: right;
    position: relative;
    margin-right: 10px;
}


.download a {
    top: 28px;
    width: 100%;
    height: 24px;
    float: left;
    position: relative;
}

.download .down-icon {
    width: 15px;
    height: 24px;

    float: left;
    position: relative;
    background: url("../img/logo/down-app.png");
}

.download .down-text {
    height: 24px;
    float: left;
    position: relative;
    margin-left: 5px;
    color: #000;
}

.download .caret {
    float: left;
    position: relative;
    margin-left: 5px;
    margin-top: 10px;
}

/* Banner 广告 */
.banner {
    width: 100%;
    min-width: 1200px;
    height: 440px;
    /*float: left;*/
    position: relative;
    overflow: hidden;
}

.img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
}

.img-container img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.banner .controller {
    bottom: 20px;
    width: 100px;
    height: 20px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.controller .con {
    left: 35px;
    width: 10px;
    height: 10px;
    position: relative;
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.controller .con.active {
    background-color: #ef4238;
}

/* Container 主体内容 */
.container-main {
    width: 1200px;
    margin: 62px auto 0 auto;
    /*border: 1px solid #2b669a;*/
    /*position: relative;*/
}

.container-main .clear-float {
    clear: both;
}


.container-main .aside {
    width: 360px;
    float: right;
    position: relative;
}

.container-main .main {
    padding: 0 18px;
    right: 363px;
    float: right;
    position: relative;
}

.div-head {
    width: 100%;
    height: 36px;
    font-size: 26px;
    line-height: 26px;
}

.div-head.ranking-head {
    color: #ef4238;
}

.ranking-content {
    margin-top: 23px;
    width: 100%;
}

.ranking-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ranking-list .rank-first {
    width: 100%;
    height: 80px;
    margin-bottom: 11px;
    border: 1px solid #efefef;
}

.rank-first .rank-first-link {
    width: 100%;
    height: 100%;
}

.rank-first-link .rank-first-img-container {
    width: 120px;
    height: 100%;
    float: left;
    overflow: hidden;
}

.rank-first-img-container img {
    width: 100%;
    height: 100%;
}

.rank-first-link .rank-first-content {
    width: 220px;
    height: 52px;
    top: 14px;
    float: left;
    padding-left: 10px;
    position: relative;
}

.rank-first-content .rank-movie-title {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    color: #333;
    float: left;
}

.rank-first-content .rank-num {
    width: 100%;
    height: 15px;
    margin-top: 12px;
    font-size: 14px;
    color: #ef4238;
    line-height: 15px;
    float: left;
}

.rank-normal-li {
    width: 100%;
    height: 35px;
}

.rank-normal-li a {
    width: 100%;
    height: 35px;
    float: left;
}

.rank-item-link .rank-index {
    width: 20px;
    height: 100%;
    float: left;
    font-size: 18px;
    color: #999;
    line-height: 35px;
    font-style: italic;
}

.rank-normal-li:nth-child(2) a .rank-index {
    color: #ef4238;
}

.rank-normal-li:nth-child(3) a .rank-index {
    color: #ef4238;
}

.rank-item-link .rank-item-name {
    height: 100%;
    float: left;
    font-size: 16px;
    color: #333;
    line-height: 35px;
}

.rank-item-link .stonefont {
    height: 100%;
    text-align: right;
    font-size: 14px;
    line-height: 35px;
    color: #ef4238;
    float: right;
}


.total {
    width: 100%;
    height: 105px;
    margin-top: 30px;
    border: 1px solid #efefef;
    background-color: #fdfdfd;
}

.total h3 {
    width: 40px;
    height: 100%;
    background-color: #ef4238;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    line-height: 21px;
    font-size: 17px;
    font-weight: 400;
    float: left;
    margin: 0;
}

.total .total-intro {
    margin-left: 54px;
    font-size: 14px;
    padding-top: 20px;
    color: #ef4238;
}

.total-intro p:nth-child(1) {
    height: 40px;
}

.total-intro p:nth-child(1) span {
    font-size: 30px;
}

.total-intro p:nth-child(2) {
    color: #999;
}

.expect {
    width: 100%;
    margin-top: 80px;
}

.expect-head {
    color: #ffb400;
}


.expect-content {
    margin-top: 23px;
}

.expect-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.expect-content ul li {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.expect-content ul li:nth-child(1) {
    width: 100%;
    height: 196px;
    border: 1px solid #efefef;
    /*position: relative;*/
}

.expect-content ul li:nth-child(2) {
    width: 170px;
    height: 185px;
    border: 1px solid #efefef;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    position: relative;
}

.expect-content ul li:nth-child(3) {
    width: 170px;
    height: 185px;
    border: 1px solid #efefef;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    position: relative;
}

.expect-content ul li:nth-child(4) {
   clear: both;
}



a .ranking-top-left {
    width: 140px;
    height: 100%;
    overflow: hidden;
    float: left;
}

.ranking-index-1 a .ranking-top-right {
    height: 80px;
    padding-left: 10px;
    float: left;
    margin-top: 57px;
}

.ranking-top-right .ranking-top-name {
    font-size: 18px;
    color: #333;
    height: 25px;
    line-height: 25px;
}

.ranking-top-right .ranking-top-release {
    margin-top: 12px;
    margin-bottom: 0;
    height: 16px;
    color: #999;
}

.ranking-top-right .ranking-top-want {
    margin-top: 12px;
    color: #ffb400;
    font-size: 14px;
    margin-bottom: 0;
}

.ranking-item a .ranking-top-top {
    width: 100%;
    height: 118px;
    overflow: hidden;
}

.ranking-top-bottom {
    width: 100%;
    float: left;
    position: relative;
}

.ranking-top-bottom .ranking-top-name {
    margin: 8px 10px 0 10px;
    font-size: 18px;
    color: #333;
}

.ranking-top-bottom .ranking-top-want {
    margin: 6px 10px 0 10px;
    font-size: 14px;
    color: #fdb863;
}

.ranking-item-normal {
    width: 100%;
    height: 37px;
}

.ranking-item-normal a i {
    width: 20px;
    font-size: 18px;
    color: #999;
    line-height: 37px;
    height: 100%;
    float: left;
}

.ranking-item-normal a .ranking-name-left {
    font-size: 16px;
    color: #333;
    height: 100%;
    line-height: 37px;
    margin-left: 3px;
    float: left;
}

.ranking-item-normal a .ranking-want-right {
    font-size: 14px;
    color: #fdb863;
    height: 100%;
    line-height: 37px;
    float: right;
}

.top100 {
    margin-top: 100px;
}

.top100 .div-head.top100-head {
    color: #ffb400;
}

.top100-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top100-content ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top100-list li:nth-child(1) {
    height: 80px;
    margin-bottom: 11px;
    border: 1px solid #efefef;
}

.top100-list li:nth-child(2) .rank-index{
    color: #ffb400;
}

.top100-list li:nth-child(3) .rank-index{
    color: #ffb400;
}

.rank-item-name {
    margin-left: 2px;
}

.top100-list .stonefont {
    color: #ffb400;
}

.top100-list .rank-num {
    color: #ffb400;
}

.aside ul li:hover {
    background-color: #f7f7f7;
}


/* 页脚 */
.footer {
    width: 100%;
    min-width: 1200px;
    margin: 82px 0 0 0;
    padding: 56px 0;
    background-color: #262426;
    float: left;
    position: relative;
}

.footer p {
    color: #666;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
}

.footer p a {
    text-decoration: none;
    color: #666;
}

.footer p:nth-child(1) a {
    color: #ef4238;
}

