{% extends "base/base.html" %}

{% block content %}
    <div class="banner">
        {% for obj in context.data.banner_list %}
            <a href="{{ obj.href }}" class="img-container">
                <img src="{{ obj.bg_url }}"/>
            </a>
        {% endfor %}
        <div class="controller">
            {% for obj in context.data.banner_list %}
                <a class="con"></a>
            {% endfor %}
        </div>
    </div>
    <div class="container-main">
        <div class="aside">
            <div class="ranking">
                <div class="div-head ranking-head">
                    {{ context.data.aside.ranking.head.title }}
                </div>
                <div class="ranking-content">
                    <ul class="ranking-list">
                        {% for obj in context.data.aside.ranking.content %}
                            {% if loop.first %}
                                <li class="rank-first">
                                    <a class="rank-first-link" href="http://www.maoyan.com{{ obj.url }}">
                                        <div class="rank-first-img-container">
                                            <img class="rank-img" src="{{ obj.intro_img }}">
                                        </div>
                                        <div class="rank-first-content">
                                            <span class="rank-movie-title">{{ obj.movie_name }}</span>
                                            <span class="rank-num">{{ obj.rank_num }}万</span>
                                        </div>
                                    </a>
                                </li>
                            {% else %}
                                <li class="rank-normal-li">
                                    <a class="rank-item-link" href="http://www.maoyan.com{{ obj.url }}">
                                        <i class="rank-index" >{{ loop.index }}</i>
                                        <span class="rank-item-name">{{ obj.movie_name }}</span>
                                        <span class="stonefont">{{ obj.rank_num }}万</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="total">
                <h3>{{ context.data.aside.total.title  }}</h3>
                <div class="total-intro">
                    <p>
                       <span class="num"> {{ context.data.aside.total.total }} </span>万
                    </p>
                    <p class="meta-info"> 北京时间 19:46:34&nbsp;&nbsp;猫眼专业版实时票房数据 </p>
                </div>
            </div>
            <div class="expect">
                <div class="div-head expect-head">
                    {{ context.data.aside.expect.head.title }}
                </div>
                <div class="expect-content">
                    <ul class="expect-list">
                        {% for obj in context.data.aside.expect.content %}
                            {% if loop.first %}
                                <li class="ranking-item ranking-index-1">
                                    <a href="http://www.maoyan.com{{ obj.url }}">
                                        <div class="ranking-top-left">
                                            <img src="{{ obj.rank_img }}"/>
                                        </div>
                                        <div class="ranking-top-right">
                                            <span class="ranking-top-name">{{ obj.movie_name }}</span>
                                            <p class="ranking-top-release">{{ obj.release_time }}</p>
                                            <p class="ranking-top-want">{{ obj.expect_num }}人想看</p>
                                        </div>
                                    </a>
                                </li>
                            {% elif (loop.index == 2) or (loop.index == 3) %}
                                <li class="ranking-item ranking-index-{{ loop.index }}">
                                    <a href="http://www.maoyan.com{{ obj.url }}">
                                        <div class="ranking-top-top">
                                            <img src="{{ obj.rank_img }}"/>
                                        </div>
                                        <div class="ranking-top-bottom">
                                            <p class="ranking-top-name">{{ obj.movie_name }}</p>
                                            <p class="ranking-top-want">{{ obj.expect_num }}人想看</p>
                                        </div>
                                    </a>
                                </li>
                            {% else %}
                                <li class="ranking-item-normal ranking-item ranking-index-{{ loop.index }}">
                                    <a href="http://www.maoyan.com{{ obj.url }}">
                                        <i>{{ loop.index }}</i>
                                        <span class="ranking-name-left">{{ obj.movie_name }}</span>
                                        <span class="ranking-want-right">{{ obj.expect_num }}人想看</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="top100">
                <div class="div-head top100-head">
                    {{ context.data.aside.top100.head.title }}
                </div>
                <div class="top100-content">
                    <ul class="top100-list">
                        {% for obj in context.data.aside.top100.content %}
                            {% if loop.first %}
                                <li class="rank-first">
                                    <a class="rank-first-link" href="http://www.maoyan.com{{ obj.url }}">
                                        <div class="rank-first-img-container">
                                            <img class="rank-img" src="{{ obj.rank_img }}">
                                        </div>
                                        <div class="rank-first-content">
                                            <span class="rank-movie-title">{{ obj.movie_name }}</span>
                                            <span class="rank-num">{{ obj.grade }}分</span>
                                        </div>
                                    </a>
                                </li>
                            {% else %}
                                <li class="rank-normal-li">
                                    <a class="rank-item-link" href="http://www.maoyan.com{{ obj.url }}">
                                        <i class="rank-index" >{{ loop.index }}</i>
                                        <span class="rank-item-name">{{ obj.movie_name }}</span>
                                        <span class="stonefont">{{ obj.grade }}分</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            {% for panel in context.data.panel %}
                <div class="sub-panel">
                    <div class="panel-head">
                        <span class="head-title-span">
                            {{ panel.head.title }}
                        </span>
                        <span class="head-more">
                            <a href="http://www.maoyan.com{{ panel.head.more.more_url }}">全部</a>
                            <span class="arrow-span"></span>
                        </span>
                    </div>
                    <ul class="panel-content">
                    {% if loop.first %}
                        {% for obj in panel.content %}
                            <li class="movie-item-hot">
                                <a href="http://www.maoyan.com{{ obj.url }}">
                                    <div class="intro-div">
                                        <img src="{{ url_for("static", filename="img/sprit/movie_bg_placeholder.png") }}"/>
                                        <img src="{{ obj.bg_url }}"/>
                                        <div class="movie-overlay-bg">
                                            <div>{{ obj["movie-title"] }}</div>
                                        </div>
                                    </div>
                                </a>
                                <a class="buy-btn" href="#">
                                    购票
                                </a>
                            </li>
                        {% endfor %}
                    {% elif loop.index == 2 %}
                        {% for obj in panel.content %}
                            <li class="movie-item-hot">
                                <div class="top-item-container">
                                    <a href="http://www.maoyan.com{{ obj.url }}">
                                        <div class="intro-div">
                                            <img src="{{ url_for("static", filename="img/sprit/movie_bg_placeholder.png") }}"/>
                                            <img src="{{ obj.bg_url }}"/>
                                            <div class="movie-overlay-bg">
                                                <div>{{ obj["movie-title"] }}</div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="sub-content">
                                        <p>3235人想看</p>
                                        <div class="sub-control">
                                            <a href="#">预告片</a>
                                            <a href="#">预售</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-item-container"> 7月21日上映 </div>
                            </li>
                        {% endfor %}
                    {% elif loop.index == 3 %}
                        {% for obj in panel.content %}
                            <li class="movie-item-hot">
                                <a href="http://www.maoyan.com{{ obj.url }}">
                                    <div class="intro-div">
                                        <img src="{{ url_for("static", filename="img/sprit/movie_bg_placeholder.png") }}"/>
                                        <img src="{{ obj.bg_url }}"/>
                                        <div class="movie-overlay-bg">
                                            <div>{{ obj["movie-title"] }}</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                    <div class="clear-float"></div>
                </div>
            {% endfor %}
        </div>
        <div class="clear-float"></div>
    </div>
{% endblock %}


{% block javascript %}
    <script src={{ url_for("static", filename="js/main.js") }}></script>
{% endblock %}